
button {
	background-color: transparent;
	border: none;
	padding-top: 25px;

}
img{
	max-width: 100%;
}

.featuresContainer {
	background-color: #f8f9fb;
}
.carousel-indicators li{
	width: 10px;
	height:10px;
	border:1px;
	border-radius: 100%;
}

.headPageRow {
	width: auto;
	padding-top: 80px;
	background: url(images/bg.jpg) no-repeat center center;
	background-size: cover;
}

.headRow {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: white;
	height: 80px;
}

.homepageContainer .container {
	position: relative;
}


#brandName {
	font-size: 130%;
	margin-top: 20px;
}

.textHeaders {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: white;
	font-size: 2.5em;
}

.firstPagecontentText {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: white;
	font-size: 1.4em;
}

.homePageContent {
	height: 300px;
}

.buttonHover:hover {
	cursor: pointer;
}
.h6{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #585b60;
}
.headPageRow .btn {
	background: #fff;
	color: #000;
	border: 0;
	border-radius: 36px;
	text-transform: uppercase;
	padding-left: 30px;
	padding-right: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #585b60;
}
.downloadApp,
.quotesContainer,
.descriptionThirdContainer,
.appGalleryContainer,
.descriptionContainer{
	padding: 100px 0;
}
.appGalleryContainer{
	background: rgba(119,217,129,1);
	background: -moz-linear-gradient(-45deg, rgba(119,217,129,1) 0%, rgba(50,174,54,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(119,217,129,1)), color-stop(100%, rgba(50,174,54,1)));
	background: -webkit-linear-gradient(-45deg, rgba(119,217,129,1) 0%, rgba(50,174,54,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(119,217,129,1) 0%, rgba(50,174,54,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(119,217,129,1) 0%, rgba(50,174,54,1) 100%);
	background: linear-gradient(135deg, rgba(119,217,129,1) 0%, rgba(50,174,54,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77d981', endColorstr='#32ae36', GradientType=1 );
}
.quotesContainer{
	background: url(images/bg2.jpg) no-repeat center center;
	background-size: cover;
}
.downloadApp{
	background-color: #f8f9fb;
}

.featuresContentRows {
	width: 100%;

}

.featuresContentHeaders {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
}

.contentText {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

span {
	color: #4bc057;
}

p.headersColor {
	color: #585b60;
}

p.descriptionPageText {
	color: #9da6ac;
	font-size: 1.1rem;
}

.screenshots {
	max-width: 100%;
}

.carousel-item {
	padding: 50px;
}

.homePageImage{
	margin-bottom: -9vw;
}
.featuresContainer{
	padding: calc(9vw + 100px) 0 100px;
}
.footer .contentText{
	padding: 20px 0;
	margin-bottom: 0;
}
.appGalleryContainer .contentText, .quotesContainer .contentText{
	color: white;
}

@media (min-width: 1202px) x) {
	#brandName {
		font-size: 1.5rem;
	}
}
@media (max-width: 1201px) and (min-width: 992px) {	
	#brandName {
		font-size: 1.5rem;
	}
	.textHeaders {
		font-size: 2.3rem;
	}
	.firstPagecontentText {
		font-size: 1.2rem;
	}

	.featuresContentHeaders {
		font-size: 1.1rem;
	}
	.descriptionPageText {
		font-size: 1rem;
	}

	.descriptionPageText {
		font-size: 0.8rem;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.textHeaders {
		font-size: 1.9rem;
	}
	.firstPagecontentText {
		font-size: 1.2rem
	}
	.featuresContentHeaders {
		font-size: 0.9rem;
	}
	.contentText {
		font-size: 0.8rem
	}
	.descriptionPageText {
		font-size: 0.8rem
	}
	.secondCarouselText {
		font-size: 0.9rem
	}
}

@media (max-width: 767px) and (min-width: 576px) {
	.textHeaders {
		font-size: 1.9rem;
	}
	.firstPagecontentText {
		font-size: 1.2rem;
	}
	.contentText {
		font-size: 0.8rem;
	}
	.secondCarouselText {
		font-size: 0.9rem
	}
}

@media (max-width: 575px) {
	.textHeaders {
		font-size: 1.3rem;
	}
	.firstPagecontentText {
		font-size: 1rem;
	}
	.contentText {
		font-size: 0.8rem;
	}
	.secondCarouselText {
		font-size: 0.9rem
	}
}